<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ih_central_dev</display-name>
	<!-- 
	<filter>
		<filter-name>ClientAccessFilter</filter-name>
		<filter-class>com.cct.inhouse.central.web.security.accessserver.filter.ClientAccessFilter</filter-class>
		<init-param>
			<param-name>ip-access</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>hostname-access</param-name>
			<param-value>*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClientAccessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<servlet>
		<servlet-name>CParameterServlet</servlet-name>
		<servlet-class>com.cct.inhouse.central.web.config.parameter.servlet.CParameterServlet</servlet-class>
		<init-param>
			<param-name>parameterfile</param-name>
			<param-value>/WEB-INF/parameter.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GlobalDataServlet</servlet-name>
		<servlet-class>com.cct.inhouse.central.web.config.globaldata.servlet.GlobalDataServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RMIServlet</servlet-name>
		<servlet-class>com.cct.inhouse.central.web.config.rmi.servlet.RMIServlet</servlet-class>
		<init-param>
			<param-name>security_policy</param-name>
			<param-value>/WEB-INF/security.policy</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CentralRMIServlet</servlet-name>
		<servlet-class>com.cct.inhouse.central.web.config.rmi.servlet.CentralRMIServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
		<servlet>
		<servlet-name>ParameterExtendedServlet</servlet-name>
		<servlet-class>com.cct.inhouse.central.web.config.parameter.servlet.ParameterExtendedServlet</servlet-class>
		<init-param>
			<param-name>parameterfile</param-name>
			<param-value>/WEB-INF/parameter-extended.xml</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RMIMonitorServlet</servlet-name>
		<servlet-class>com.cct.inhouse.central.web.config.rmi.servlet.RMIMonitorServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	
	<servlet-mapping>
    	<servlet-name>CParameterServlet</servlet-name>
	    <url-pattern>/CParameterServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>GlobalDataServlet</servlet-name>
	    <url-pattern>/GlobalDataServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>RMIServlet</servlet-name>
	    <url-pattern>/RMIServlet</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>CentralRMIServlet</servlet-name>
	    <url-pattern>/CentralRMIServlet</url-pattern>
  	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ParameterExtendedServlet</servlet-name>
	    <url-pattern>/ParameterExtendedServlet</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>RMIMonitorServlet</servlet-name>
	    <url-pattern>/RMIMonitorServlet</url-pattern>
  	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>